<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- this is the object that will be proxied by Spring's AOP infrastructure -->
    <bean id="circle" class="com.accenture.dto.Circle"/>  
     <bean id="josephProblemRequest" class="com.accenture.dto.JosephProblemRequest"/>
     <bean id="josephProblemResponse" class="com.accenture.dto.JosephProblemResponse"/>
  
    <bean id="josephProblemImpl" class="com.accenture.service.impl.JosephProblemImpl"/>
     <bean id="josephProblemIntPara" class="com.accenture.service.impl.JosephProblemIntPara"/>
      <bean id="checkJosephArgu" class="com.accenture.service.impl.CheckJosephArgu"/>
      
       <bean id="josephBusninessImpl" class="com.accenture.business.impl.JosephBusninessImpl"/>
        <bean id="jsonConverterByReflection" class="com.accenture.converter.JsonConverterByReflection"/>
        
         <bean id="businessException" class="com.accenture.exception.BusinessException"/>
          <bean id="serviceException" class="com.accenture.exception.ServiceException"/>
 


</beans>